/* styles.css */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Arial", sans-serif;
  color: #333;
}

.board {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.2s ease;
}

.square:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.red {
  background-color: #b71c1c;
  color: white;
}

.black {
  background-color: #1b1b1b;
  color: white;
}
